<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multi_Tool_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Multi_Tool_V2.Properties.Settings>
            <setting name="firstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="applicationNeedsToClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="normalPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numberPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="specialCharPass" serializeAs="String">
                <value>False</value>
            </setting>
        </Multi_Tool_V2.Properties.Settings>
    </userSettings>
</configuration>